fastapi
uvicorn[standard]
pydantic
python-multipart

# ABI NumPy 1.x agar modul lama tidak crash
numpy
opencv-python-headless

# Torch CPU (jalan di x86_64 & arm64)
torch
torchvision

# YOLO
ultralytics